   <footer class="footer">
    <div class="container">
      <p>
        Created by <a href="http://twitter.com/njh">@njh</a>
      </p>
      <p>
        This website is Open Source, please help improve it by submitting a change on GitHub: <br />
        <a href="https://github.com/njh/radiodns-uk">https://github.com/njh/radiodns-uk</a>
      </p>
    </div>
  </footer>
