   <footer class="footer">
    <div class="container">
      <p>
        Created by <a href="http://twitter.com/njh">@njh</a>
      </p>
      <p>
        This site is powered by <a href="http://roda.jeremyevans.net/">Roda</a>,
        <a href="http://sequel.jeremyevans.net/">Sequel</a> and
        <a href="/gems">several other ruby gems</a>.
      </p>
      <p>
        This website is Open Source, please help improve it by submitting a change on GitHub: <br />
        <a href="https://github.com/njh/radiodns-uk">https://github.com/njh/radiodns-uk</a>
      </p>
    </div>
  </footer>
