<nav class="navbar navbar-expand-md navbar-dark bg-charlottes-locks">
  <a class="navbar-brand" href="/">
    <img src="/images/radiodns.uk-logo.png" width="185" height="35" alt="radiodns.uk" />
  </a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/multiplexes">Multiplexes</a>
    </li>
  </ul>
</nav>
