<nav class="navbar navbar-expand-sm navbar-dark bg-charlottes-locks">
  <h1 class="navbar-brand text-hide m-0">
    <a href="/">
      <img src="/images/radiodns.uk-logo.png" width="185" height="35" alt="radiodns.uk" />
      RadioDNS.uk
    </a>
  </h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <%== nav_item("Authorities", "/authorities") %>
      <%== nav_item("Multiplexes", "/multiplexes") %>
      <%== nav_item("Services", "/services") %>
      <%== nav_item("Transmitters", "/transmitters") %>
    </ul>
  </div>
</nav>
