<% content_for :page_title, "List of RadioDNS Authorities in the UK" %>

<h1><%= content_for :page_title %></h1>

<div class="row">
  <table class="table table-responsive">

  <thead>
    <tr>
      <th scope="col">FQDN</th>
      <th scope="col">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @authorities.each do |authority| %>
      <tr>
        <td>
          <a href="/authorities/<%= authority.fqdn %>"><%= authority.fqdn %></a>
        </td>
        <td>
          <%= authority.name %>
        </td>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>
