<% content_for :page_title, "List of Radio Transmitters in the UK" %>

<h1><%= content_for :page_title %></h1>

<div class="row">
  <table class="table table-responsive">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
    </tr>
  </thead>

  <tbody>
    <% @transmitters.each do |transmitter| %>
      <tr>
        <td>
          <%== link_to(transmitter.name, transmitter.path) %>
        </td>
        <td>
          <%= transmitter.area %>
        </td>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>
