<% content_for :page_title, "Radio Transmitters by country or region" %>

<p>
 You can also view a list of
 <a href="/transmitters/all">all the transmitter sites in the UK</a>.
</p>

<div class="row">
<% @countries.each do |country| %>
  <% next if country.counties.count == 0 %>

  <div class="col-sm">
  <h3><%= country.name %></h3>

  <ul>
    <% country.counties.each do |county| %>
      <% next if county.transmitters_dataset.empty? %>
      <li><%== link_to(county.name, "/transmitters/counties/#{county.url_key}") %></li>
    <% end %>
  </ul>
  </div>

<% end %>
</div>
