<nav class="navbar navbar-dark bg-charlottes-locks">
  <a class="navbar-brand" href="/">
    <img src="/images/radiodns.uk-logo.png" width="185" height="35" alt="radiodns.uk" />
  </a>

  <div class="justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item <%= current_page.page_id == 'home' ? 'active' : '' %>">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
  </div>
</nav>
