---
id: home
name: RadioDNS Services in the United Kingdom
---

<% resources = sitemap.resources.select {|r| r.class == Middleman::Sitemap::Resource } %>
<% pages = resources.select {|r| File.extname(r.path) == ".html" } %>
<% services = pages.select {|r| r.path.match(%r|^services/|)}.sort_by {|r| r.data.sort_name} %>

<div class="row">
  <p id="headline" class="lead">
    This site is a directory listing of the <em><%= services.count %></em> radio stations in the United Kingdom
    which have RadioDNS Hybrid Radio services available.

    The initial list of frequencies and identifiers is retrieved from the
    <a href="https://www.ofcom.org.uk/spectrum/information/radio-tech-parameters">Ofcom Technical parameters</a>.
    The rest of the content on site is from the RadioEPG Service Information XML
    (aka <a href="http://www.etsi.org/deliver/etsi_ts/102800_102899/102818/03.01.01_60/ts_102818v030101p.pdf">ETSI TS 102 818</a>).
  </p>
</div>


<div class="row">
  <table class="table table-responsive">

  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    <% services.each do |service| %>
      <tr>
        <td>
          <% if service.data.logos['112x32'] %>
            <%= link_to(image_tag(service.data.logos['112x32'], :width => 112, :height => 32), service) %>
          <% end %>
        </td>
        <td>
          <%= link_to(service.data.name, service) %>
        </td>
        <td>
          <%= service.data.short_description %>
        </td>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>
